<h2>Merchant Dashboard!</h2>
<section>
  <p>Employer: <%= @user.merchants.first.name %></p>
  <p>Address:  <%= @user.merchants.first.address %></p>
  <p>City:  <%= @user.merchants.first.city %></p>
  <p>State:  <%= @user.merchants.first.state %> </p>
  <p>Zip Code: <%= @user.merchants.first.zip %> </p>
</section>
