<h2>All Merchants</h2>
<p>Admin Index</p>
<ul>
  <% @merchants.each do |merchant| %>
    <section id="merchant-<%= merchant.id %>">
      <li><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></li>
        <p>City: <%= "#{merchant.city}" %></p>
        <p>State: <%= "#{merchant.state}" %></p>
        <%= button_to merchant_status_button_text(merchant), controller: 'admin/merchants', action: merchant_status_button_action, id: merchant.id, method: :patch %>
    </section>
  <% end %>
</ul>
