<h1>Your Orders</h1>

<% @orders.each do |order| %>
  <p>Ship to:</p>
  <p>Name: <%= order.name %></p>
  <p>Address: <%= order.Address %></p>
  <p>City: <%= order.city %></p>
  <p>State: <%= order.state %></p>
  <p>Zip: <%= order.zip %></p>
  <p>Creation Date: <%= order.created_at %></p>
<% end %>
