<h2>Choose the Merchant you would like assigned to <%= "#{@user.name}" %></h2>
<%= form_tag "/admin/users/#{@user.id}/upgrade", method: "patch" do %>
  <%= select_tag "merchant", options_from_collection_for_select(@merchants, 'id', 'name') %>
  <%= select_tag "role", options_for_select([["Employee", 1], ["Admin", 2]]) %>

  <%= submit_tag "Submit Post" %>
<% end %>
